@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.fullscreen {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.page {
  overflow-x: hidden;
  flex-shrink: 0;
}

.flex {
  display: flex;
}

.hogwartsSection {
  background-image: url('./images/hogwarts.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hogwartsCrest {
  height: 40vh;
  object-fit: contain;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}

.hogwartsCrest img {
  height: 100%;
  position: absolute;
  animation: float 4s ease-in-out infinite;
}

.hogwartsCrestglow {
  opacity: 0;
}

.hogwartsCrestglow:hover {
  opacity: 0.8;
  transition: all 0.8s ease-in-out;
}

.hogwartsSection h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 0.2rem;
}

.hogwartsSection h2 {
  font-size: large;
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 0.2rem;
  font-weight: light;
}

.hogwartsSection h3 {
  margin-top: 4rem;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  color: rgb(237, 206, 255);
}

.houseIcon {
  width: 6rem;
  fill: currentColor;
  object-fit: contain;
}

.houseSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 1rem;
  font-family: 'Texturina', serif;
  position: fixed;
}

.houseSection .houseName {
  font-size: 2.75rem;
  line-height: 1;
  margin: 1rem 0;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.houseSection .houseTraits {
  font-weight: 100;
  font-variant: small-caps;
  margin: 1rem 0;
  letter-spacing: 0.3rem;
  font-size: 1.25rem;
  text-transform: lowercase;
}

.quote {
  margin: 2rem auto;
  max-width: 16rem;
}

.quote .quotationMark {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.75rem;
  line-height: 1;
}

.quote h2 {
  font-style: italic;
  font-variant: small-caps;
  font-size: large;
  margin-bottom: 1.5rem;
}

.quote .sortingHat {
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.founderSection {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.founderCard {
  max-width: 50vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.founderCard img {
  max-width: 50vw;
  max-height: 50vh;
  margin: auto;
  transition: all 0.5s ease-out;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 35vh;
}

.founderData h1 {
  font-family: 'Texturina', serif;
  font-size: large;
  font-weight: lighter;
}

.dropcap {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  margin-right: 0.5rem;
}

.readMore {
  background-color: transparent;
  border: none;
  font-family: 'Texturina', serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: larger;
  cursor: pointer;
  padding: 1rem;
  position: relative;
  display: inline-block;
}

.readMore::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.3s ease;
}

.readMore:hover::after {
  width: 100%;
  transition: width 0.3s ease;
}

.readMore:focus {
  border: none;
  outline: none;
}

.notableCharactersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notableCharactersTitle {
  display: none;
}

.bookmarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.bookmark {
  width: 100%;
  height: 30vh;
  margin: 1rem;
}

.bookmarkImage {
  width: 60%;
  height: 25vh;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.bookmarkImage-alt {
  width: 60%;
  height: 25vh;
  object-fit: cover;
  position: absolute;
  right: 0;
}

.characterName {
  margin-left: -20%;
  margin-top: 25%;
  position: absolute;
  z-index: 10;
  font-family: 'Texturina', serif;
  font-variant: small-caps;
  text-align: left;
}

.characterName-alt {
  margin-left: -20%;
  margin-top: 25%;
  position: absolute;
  z-index: 10;
  font-family: 'Texturina', serif;
  font-variant: small-caps;
  text-align: right;
}

.decor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.block {
  margin-top: 30vh;
  height: 70vh;
}

.snake {
  width: auto;
  height: 50vh;
  padding: 1rem;
  margin-top: -60vh;
  opacity: 0.1;
  transform: scaleX(-1) rotate(-33deg);
}

.eagle {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10vh;
  margin-left: -30vw;
  opacity: 0.1;
}

.lion {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  margin-top: 40vh;
}

.badger {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  height: 40vh;
  margin-top: 70vh;
}

.lineblock {
  background-color: rgb(0, 24, 0);
  height: 100vh;
  width: 50vw;
  margin-left: 25vw;
}

.linesnake {
  margin-top: -100vh;
  width: 80vw;
  opacity: 0.1;
  object-fit: contain;
  transform: rotate(120deg);
}

.characterSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100vh;
}

.characterTitle {
  position: fixed;
  top: 0;
  margin-top: 40%;
}

.characterDetails {
  font-family: 'Texturina', serif;
}

.characterDetails h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.characterDetails h2 {
  margin-bottom: 8rem;
  max-height: 30vh;
  font-size: large;
  font-weight: lighter;
}

.characterCard {
  margin-left: 1rem;
  margin-right: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: fit-content;
  bottom: 0;
}

.characterCard img {
  margin-top: -40%;
  margin-bottom: -2%;
  max-height: 50vh;
}

.background {
  object-fit: cover;
  object-position: center;
}

@media (min-width: 1024px) {
  .founderSection {
    flex-direction: row;
    padding: 1rem 16rem;
  }

  .dropcap {
    font-size: 4rem;
  }

  .founderData {
    margin: 2rem;
    text-align: left;
  }

  .founderData h1 {
    text-align: left;
    font-size: x-large;
    padding: 1rem;
  }

  .container {
    min-height: 40vh;
  }

  .characterSection {
    flex-direction: row;
    padding: 1rem 10rem;
  }

  .characterDetails h1 {
    text-align: left;
    font-size: 4rem;
  }

  .characterDetails h2 {
    text-align: left;
    font-size: x-large;
  }

  .characterCard {
    margin-top: 0;
    margin-left: 4rem;
  }

  .characterCard img {
    max-height: 70vh;
  }

  .snake {
    transform: scaleX(1) rotate(-35deg);
    position: fixed;
    height: 100vh;
    margin-top: -5%;
    margin-left: -18vw;
    top: 0;
    left: 0;
  }

  .eagle {
    position: fixed;
    height: 80vh;
    top: 0;
    left: 0;
    opacity: 0.1;
    margin-top: 6%;
  }

  .lion {
    height: 100vh;
    margin-top: 0;
  }

  .badger {
    margin-top: 0;
    height: 80vh;
  }

  .block {
    margin-top: 0;
    width: 45vw;
    height: 100vh;
    left: 0;
  }

  .notableCharactersSection {
    flex-direction: row;
    align-items: flex-start;
  }

  .notableCharactersTitle {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100vh;
    margin-right: 4rem;
  }

  .notableCharactersTitle img {
    width: 100%;
    padding: 0;
    object-fit: cover;
    height: 60vh;
    transition: all 0.5s ease-in-out;
  }

  .notableCharactersInfo {
    margin-top: 1.5rem;
    padding: 0rem 2rem;
    height: 100%;
    font-family: 'Texturina', serif;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 4px solid green;
  }

  .notableCharactersInfo h1 {
    text-align: left;
    font-size: 3.5rem;
    line-height: 1;
    color: green;
    font-variant: small-caps;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .notableCharactersInfo h2 {
    text-align: left;
    font-weight: lighter;
    font-size: larger;
    font-family: 'Texturina', serif;
    margin-top: 1rem;
  }

  .linesnake {
    display: none;
  }

  .lineblock {
    display: none;
  }

  .bookmark {
    height: 100vh;
    width: 30%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(0, 5, 0);
  }

  .bookmarkImage {
    width: 15vw;
    height: 100vh;
    position: static;
    opacity: 0.6;
  }

  .bookmarkImage-alt {
    width: 15vw;
    height: 100vh;
    position: static;
    opacity: 0.6;
  }

  .bookmarkImage:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transform: scale(1.01);
    cursor: pointer;
  }

  .bookmarkImage-alt:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transform: scale(1.01);
    cursor: pointer;
  }

  .characterName {
    margin-left: 0;
    margin-top: -40vh;
    text-align: center;
    width: 15vw;
    opacity: 0.5;
  }

  .characterName-alt {
    margin-left: 0;
    margin-top: -30vh;
    text-align: center;
    width: 15vw;
    opacity: 0.5;
  }
}

.green {
  color: forestgreen;
}

.bggreen::after {
  color: forestgreen;
}

.darkgreen {
  background-color: rgb(0, 24, 0);
}

.blue {
  color: rgb(0, 81, 255);
}

.bgblue::after {
  background-color: rgb(0, 81, 255);
}

.darkblue {
  background-color: rgb(0, 15, 46);
}

.red {
  color: rgb(168, 0, 0);
}

.darkred {
  background-color: rgb(60, 0, 0);
}

.bgred::after {
  background-color: rgb(168, 0, 0);
}

.yellow {
  color: orange;
}

.bgyellow:after {
  background-color: orange;
}

.darkyellow {
  background-color: rgb(80, 43, 0);
}

.slytherin {
  background-image: url('./images/slytherin.png');
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.ravenclaw {
  background-image: url('./images/ravenclaw.png');
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.gryffindor {
  background-image: url('./images/gryffindor.png');
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.hufflepuff {
  background-image: url('./images/hufflepuff.png');
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.nav {
  background-color: black;
}

.opacity-10 {
  opacity: 0.1;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
  position: absolute;
  animation: float 4s ease-in-out infinite;
}

.z-30 {
  z-index: 30;
  position: absolute;
  animation: float 4s ease-in-out infinite reverse;
}

@keyframes float {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, -4%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

/* path {
  stroke: white;
  fill: white;
  stroke-dasharray: 1500;
  opacity: 10;
  animation: draw 1s ease-in;
}

@keyframes draw {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1500;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1500;
  }

  90% {
    fill: rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 10;
    fill: rgba(255, 255, 255, 1);
    stroke-dashoffset: 0;
  }
} */
