$background-color: #0d0d37;
$accent: #ffc525;

.hogwartsInfo {
  background: $background-color;
  display: flex;
  padding: 4rem 0rem;
  position: relative;

  svg {
    color: $accent;
    width: 100%;
  }

  .hogwartsInfo--pic {
    flex-direction: column;
    width: 100%;
    position: relative;
    font-family: 'Playfair Display SC';
    color: $accent;

    img {
      width: 120%;
      margin-left: -50%;
    }

    .hogwartsInfo--pic--text {
      position: absolute;
      top: 0;
      margin-top: -3rem;
      margin-left: 4rem;
    }

    h1 {
      font-size: 4rem;
      letter-spacing: 0.1em;
      color: $accent;
    }

    h2 {
      color: $accent;
      margin-left: 8rem;
      font-weight: 200;
      letter-spacing: 0.2em;
    }

    svg {
      transform: scaleX(-1);
      position: absolute;
      bottom: 15%;
      left: 0;
      margin-left: -50%;
    }
  }

  .hogwartsInfo--text {
    position: relative;
    width: 100%;
    margin-left: 4rem;

    h1 {
      position: relative;
      z-index: 1;

      text-align: right;
      font-family: 'Playfair Display SC';
      font-style: italic;
      font-size: 5.5rem;
      margin-top: -2rem;
      margin-right: 4rem;
      margin-bottom: 4rem;
    }

    p {
      font-family: 'Texturina';
      font-size: 1.5rem;
      text-align: left;
      margin-top: 1rem;
      margin-right: 10rem;
    }

    svg {
      position: absolute;
      right: 0;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    height: 250px;
    width: 100%;
    background: -webkit-linear-gradient(
      top,
      rgba(13, 13, 55, 0) 0%,
      #000000 100%
    );
  }
}
